*{
    -fx-background-color: #f7f1ea;
}
.big{
   -fx-font-size: 16pt;
   -fx-text-fill: #000000;
}
Label, Slider {
    -fx-text-fill: #000000;
}
Button {
    -fx-background-color: #f7bd5c;
    -fx-text-fill: #000000;
}
Button:hover {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}
ChoiceBox > * {
    -fx-background-color: #f7bd5c;
    -fx-text-fill: #000000;
}
ChoiceBox .menu-item >.label {
    -fx-text-fill: #000000;
}
ChoiceBox .menu-item:focused >.label {
    -fx-background-color: #f7bd5c;
    -fx-text-fill: #111111;
}

Slider .axis {
    -fx-tick-label-fill: #000000;
}
Slider .track {
    -fx-background-color: #f7bd5c;
}
Slider .track:hover {
    -fx-background-color: #d19838;
}
Slider .thumb {
    -fx-background-color: #545353;
}